.women_day {
  padding: 0 0 80px;
  background: #fff;
}
.women_day .show_big {
  display: block;
}
.women_day .show_small {
  display: none;
}
.women_day img {
  display: block;
  width: 100%;
}
.women_day .space-w {
  width: calc(-220%);
  margin: 0 auto 80px;
}
.women_day .common_title {
  font-family: Noto Serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 32px;
}
.women_day .po_box {
  position: relative;
  top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191817;
  background: #fcfbfb;
}
.women_day .po_box .po_text-area {
  padding: 80px 425px;
}
.women_day .po_box .po_text-area .po_title {
  font-family: Noto Serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: center;
}
.women_day .po_box .po_text-area .po_desc {
  font-family: Noto Serif;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
}
.women_day .po_box .po_text-area .desc_1 {
  line-height: 1;
  margin-bottom: 22px;
  font-weight: 500;
}
.women_day .recommen_swiper .recommen_swiper_inner .swiper-wrapper .swiper-slide .a_link {
  position: relative;
}
.women_day .recommen_swiper .recommen_swiper_inner .swiper-wrapper .swiper-slide .a_link:hover .shop_btn {
  opacity: 1;
}
.women_day .recommen_swiper .recommen_swiper_inner .swiper-wrapper .swiper-slide .a_link .shop_btn {
  bottom: 10px;
  width: 91.6%;
  opacity: 0;
  margin: 0 auto;
  background: #fff;
  color: #191817;
  padding: 12px 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}
.women_day .recommen_swiper .recommen_swiper_inner .swiper-wrapper .swiper-slide .slide_info {
  margin-bottom: 40px;
}
.women_day .recommen_swiper .recommen_swiper_inner .swiper-wrapper .swiper-slide .slide_info p:nth-child(2) span:first-child {
  font-weight: 500;
}
.women_day .recommen_swiper .recommen_swiper_inner .swiper-wrapper .swiper-slide .slide_info p:nth-child(2) span:nth-child(2) {
  font-weight: 500;
}
.women_day .recommen_swiper .recommen_swiper_inner .swiper-wrapper .swiper-slide .slide_info .new_title_one {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #191817;
}
.women_day .recommen_swiper .recommen_swiper_inner .swiper-pagination {
  bottom: 0;
  top: auto;
}
.women_day .videos .title {
  text-align: center;
}
.women_day .bottom_swiper .bottom_swiper_inner .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}
.women_day .bottom_swiper .bottom_swiper_inner .swiper-wrapper .swiper-slide .slide_area {
  position: absolute;
  width: 492px;
  left: 190px;
}
.women_day .bottom_swiper .bottom_swiper_inner .swiper-wrapper .swiper-slide .slide_area .slide_desc {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}
.women_day .bottom_swiper .bottom_swiper_inner .swiper-wrapper .swiper-slide .slide_area .slide_desc:last-child {
  margin-top: 20px;
}
.women_day .bottom_swiper .bottom_swiper_inner .swiper-wrapper .swiper-slide .slide_area .slide_title {
  text-align: center;
  margin-bottom: 20px;
}
.women_day .bottom_swiper .bottom_swiper_inner .swiper-pagination {
  top: auto;
  bottom: 40px;
  width: 300px;
  margin: 0 auto;
  left: 646px;
}
.women_day .bottom_swiper .bottom_swiper_inner .swiper-pagination-progressbar-fill {
  background-color: #191817;
}
.women_day .y_shoes {
  display: flex;
  position: relative;
}
.women_day .y_shoes .y_inner {
  position: absolute;
  top: 158px;
  right: 220px;
  width: 460px;
}
.women_day .y_shoes .y_inner .y_title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}
.women_day .y_shoes .y_inner .y_desc {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  margin: 8px 0 24px 0;
}
.women_day .y_shoes .y_inner .y_btn {
  display: flex;
  align-items: center;
}
.women_day .y_shoes .y_inner .y_btn .desc {
  padding: 16px 40px;
  background-color: #191817;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.women_day .y_shoes .y_inner .y_btn .desc img {
  width: 27px;
  height: 27px;
  margin-right: 8px;
}
.women_day .bottom_icon {
  background: #ffffff;
}
.women_day .bottom_icon .items {
  width: 68.75vw;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}
.women_day .bottom_icon .items .bottom_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.women_day .bottom_icon .items .bottom_item .title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0px;
  text-align: center;
  margin-left: 10px;
}
.women_day .bottom_icon .items .bottom_item .desc {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #666666;
  margin: 0.417vw 0 1.823vw;
  padding: 0 60px;
  box-sizing: border-box;
}
.women_day .bottom_icon .items .bottom_item a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #191817;
}
.women_day .bottom_icon .items .line {
  width: 1px;
  height: 64px;
  background: #eeeeee;
}
