* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
.the-black-friday {
  font-family: 'Roboto';
  background-color: #fff;
  color: #fff;
}
.the-black-friday .tc {
  text-align: center;
}
.the-black-friday .black_cl {
  color: #000;
}
.the-black-friday .orange_cl {
  color: #9F5123;
}
.the-black-friday .sp_img {
  width: 100%;
}
.the-black-friday .red-bg {
  background-color: #6B0000;
}
.the-black-friday .the-hr {
  width: 80%;
  border: 1px solid #fff;
  margin: 0 auto;
}
.the-black-friday .the-topicon-flex {
  display: flex;
  justify-content: center;
}
.the-black-friday .the-topicon-flex > div {
  width: 32%;
}
.the-black-friday .the-topicon-flex .the-icons-bg {
  width: 80%;
  margin: 0 auto;
}
.the-black-friday .fwb {
  font-weight: bold;
}
.the-black-friday .the-banner1-bg {
  background-color: #6B0000;
}
.the-black-friday .the-discount-text {
  color: #fff;
}
.the-black-friday .text-line-through {
  text-decoration: line-through;
}
.the-black-friday .the-a-po {
  position: relative;
}
.the-black-friday .the-a-po .the-discount {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: #610F08;
}
.the-black-friday .the-bannerbg-re {
  position: relative;
}
.the-black-friday .the-bannerbg-re .the-text-re-ab {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.the-black-friday .the-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
