@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .the-black-friday .the-desc-item {
    width: 83% !important;
    margin: 0 auto;
  }
  .the-black-friday .the-desc-item-banner {
    width: 84% !important;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  .the-black-friday .the-title-area {
    margin-top: 60px;
  }
  .the-black-friday .the-title-area-pt {
    padding-top: 60px;
  }
  .the-black-friday .the-title-area-sp {
    padding-top: 40px;
  }
  .the-black-friday .desc-title {
    margin: 0 auto;
  }
  .the-black-friday .the-title-h1 {
    font-family: 'Noto Serif';
    font-size: 36px;
  }
  .the-black-friday .the-text-h1 {
    font-family: 'Noto Serif';
    font-size: 36px;
  }
  .the-black-friday .the-blt-h1 {
    font-family: 'Roboto-Bold';
    font-size: 36px;
  }
  .the-black-friday .the-text-Body {
    font-size: 16px;
  }
  .the-black-friday .the-box-h1 {
    font-family: 'Noto Serif';
    font-size: 28px;
  }
  .the-black-friday .the-content-h1 {
    font-family: 'Noto Serif';
    font-size: 36px;
  }
  .the-black-friday .the-btitle-h0 {
    font-size: 20px;
  }
  .the-black-friday .the-box-body {
    font-size: 14px;
  }
  .the-black-friday .the-text-body1 {
    font-size: 16px;
  }
  .the-black-friday .the-text-desc-mb {
    margin-bottom: 40px;
  }
  .the-black-friday .the-text-mb {
    margin-bottom: 40px;
  }
  .the-black-friday .the-pt {
    padding-top: 30px;
  }
  .the-black-friday .the-pb {
    padding-bottom: 30px;
  }
  .the-black-friday .desc-title {
    width: 70% !important;
    margin: 0 auto;
  }
  .the-black-friday .the-banner-position {
    position: relative;
  }
  .the-black-friday .the-banner-position .the-title-content {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .the-black-friday .the-banner-position .TopBox {
    padding-top: 8px;
    padding-bottom: 25px;
  }
  .the-black-friday .the-banner-position .the-title-button {
    position: absolute;
    font-size: 18px;
    padding: 8px 16px;
  }
  .the-black-friday .the-banner-position .the-title-footer {
    bottom: 6%;
  }
  .the-black-friday .the-icon-size {
    width: 50px;
    margin: 0 auto;
  }
  .the-black-friday .the-picture-flex .the-fs14 {
    font-family: 'Noto Serif-Medium';
    font-size: 14px;
  }
  .the-black-friday .the-picture-flex .the-fs16 {
    font-family: 'Roboto-Bold';
    font-size: 16px;
  }
  .the-black-friday .the-picture-flex .the-fs12 {
    font-size: 12px;
  }
  .the-black-friday .the-picture-flex .the-fs12-fwb {
    font-family: 'Roboto-Bold';
    font-size: 12px;
  }
  .the-black-friday .the-picture-flex .the-top {
    margin-top: 8px;
  }
  .the-black-friday .the-picture-flex .the-top2 {
    margin-top: 20px;
  }
  .the-black-friday .the-picture-flex .the-top {
    margin-top: 8px;
  }
  .the-black-friday .the-picture-flex .the-top2 {
    margin-top: 15px;
  }
  .the-black-friday .the-picture-flex .the-pt-button {
    padding: 12px 26%;
    background-color: #050505;
  }
  .the-black-friday .the-picture-flex .the-ml {
    margin-left: 10px;
  }
  .the-black-friday .disicon {
    width: 15px;
    vertical-align: text-top;
  }
  .the-black-friday .the-discount {
    border-radius: 18px;
    padding: 5px 10px;
  }
  .the-black-friday .the-vmbutton {
    width: 265px !important;
    padding: 15px 6%;
    background-color: #6B0000;
  }
  .the-black-friday .vmtext {
    font-size: 16px;
  }
  .the-black-friday .the-black-po {
    position: relative;
  }
  .the-black-friday .the-black-po .the-black-ab {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  .the-black-friday .the-black-po .the-mr-br {
    padding-right: 60px;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .the-black-friday .the-black-po .the-ml-br {
    padding-left: 60px;
  }
  .the-black-friday .the-black-po .the-box-body {
    scale: 0.9;
  }
  .the-black-friday .the-bl-h1 {
    font-family: 'Roboto-Bold';
    font-size: 30px;
  }
  .the-black-friday .the-bl-h2 {
    font-family: 'Roboto-Bold';
    font-size: 34px;
  }
  .the-black-friday .the-bl-h3 {
    font-family: 'Roboto-Bold';
    font-size: 36px;
    color: #FAD804;
  }
  .the-black-friday .this-after-before::after,
  .the-black-friday .this-after-before::before {
    content: '';
    height: 0px;
    border: 1px solid #fff;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
  }
}
@media screen and (min-width: 1441px) {
  .the-black-friday .the-desc-item {
    width: 83% !important;
    margin: 0 auto;
  }
  .the-black-friday .the-desc-item-banner {
    width: 84% !important;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  .the-black-friday .the-title-area {
    margin-top: 80px;
  }
  .the-black-friday .the-title-area-pt {
    padding-top: 80px;
  }
  .the-black-friday .the-title-area-sp {
    padding-top: 60px;
  }
  .the-black-friday .desc-title {
    margin: 0 auto;
  }
  .the-black-friday .the-title-h1 {
    font-family: 'Noto Serif';
    font-size: 60px;
  }
  .the-black-friday .the-text-h1 {
    font-family: 'Noto Serif';
    font-size: 40px;
  }
  .the-black-friday .the-blt-h1 {
    font-family: 'Roboto-Bold';
    font-size: 40px;
  }
  .the-black-friday .the-text-Body {
    font-size: 18px;
  }
  .the-black-friday .the-box-h1 {
    font-family: 'Noto Serif';
    font-size: 32px;
  }
  .the-black-friday .the-content-h1 {
    font-family: 'Noto Serif';
    font-size: 60px;
  }
  .the-black-friday .the-btitle-h0 {
    font-size: 24px;
  }
  .the-black-friday .the-box-body {
    font-size: 14px;
  }
  .the-black-friday .the-text-body1 {
    font-size: 16px;
  }
  .the-black-friday .the-text-desc-mb {
    margin-bottom: 40px;
  }
  .the-black-friday .the-text-mb {
    margin-bottom: 40px;
  }
  .the-black-friday .the-pt {
    padding-top: 40px;
  }
  .the-black-friday .the-pb {
    padding-bottom: 40px;
  }
  .the-black-friday .the-banner-position .the-title-content {
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .the-black-friday .the-banner-position .TopBox {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .the-black-friday .the-banner-position .the-title-button {
    position: absolute;
    font-size: 20px;
    padding: 13px 28px;
  }
  .the-black-friday .the-banner-position .the-title-footer {
    bottom: 4%;
  }
  .the-black-friday .the-icon-size {
    width: 50px;
    margin: 0 auto;
  }
  .the-black-friday .the-picture-flex .the-fs14 {
    font-family: 'Noto Serif-Medium';
    font-size: 14px;
  }
  .the-black-friday .the-picture-flex .the-fs16 {
    font-family: 'Roboto-Bold';
    font-size: 16px;
  }
  .the-black-friday .the-picture-flex .the-fs12 {
    font-size: 12px;
  }
  .the-black-friday .the-picture-flex .the-fs12-fwb {
    font-family: 'Roboto-Bold';
    font-size: 12px;
  }
  .the-black-friday .the-picture-flex .the-top {
    margin-top: 8px;
  }
  .the-black-friday .the-picture-flex .the-top2 {
    margin-top: 20px;
  }
  .the-black-friday .the-picture-flex .the-pt-button {
    padding: 18px 30%;
    background-color: #050505;
  }
  .the-black-friday .the-picture-flex .the-ml {
    margin-left: 10px;
  }
  .the-black-friday .disicon {
    width: 15px;
    vertical-align: text-top;
  }
  .the-black-friday .the-discount {
    border-radius: 18px;
    padding: 5px 10px;
  }
  .the-black-friday .the-vmbutton {
    width: 300px !important;
    padding: 20px 5%;
    background-color: #6B0000;
  }
  .the-black-friday .vmtext {
    font-size: 18px;
  }
  .the-black-friday .the-black-po {
    position: relative;
  }
  .the-black-friday .the-black-po .the-black-ab {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  .the-black-friday .the-black-po .the-mr-br {
    padding-right: 150px;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .the-black-friday .the-black-po .the-ml-br {
    padding-left: 150px;
  }
  .the-black-friday .the-black-po .the-box-body {
    scale: 0.9;
  }
  .the-black-friday .the-mt-mb {
    margin: 20px;
  }
  .the-black-friday .the-bl-h1 {
    font-family: 'Roboto-Bold';
    font-size: 36px;
  }
  .the-black-friday .the-bl-h2 {
    font-family: 'Roboto-Bold';
    font-size: 40px;
  }
  .the-black-friday .the-bl-h3 {
    font-family: 'Roboto-Bold';
    font-size: 48px;
    color: #FAD804;
  }
  .the-black-friday .this-after-before::after,
  .the-black-friday .this-after-before::before {
    content: '';
    height: 0px;
    border: 1px solid #fff;
    width: 27%;
    display: inline-block;
    vertical-align: middle;
  }
}
@media screen and (min-width: 769px) {
  .the-black-friday .m-vi {
    display: none !important;
  }
  .the-black-friday .the-banner-position {
    position: relative;
  }
  .the-black-friday .the-banner-position .the-title-content {
    position: absolute;
    width: 70%;
  }
  .the-black-friday .the-banner-position .TopBox {
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
  }
  .the-black-friday .the-banner-position .the-box-flex {
    display: flex;
    justify-content: space-between;
  }
  .the-black-friday .the-banner-position .the-box-flex > div {
    width: 32%;
    padding: 1% 2%;
  }
  .the-black-friday .the-banner-position .the-box-flex .the-small-box {
    border-right: 1px solid #999999;
  }
  .the-black-friday .the-banner-position .the-box-flex .the-small-box:last-child {
    border-right: 0;
  }
  .the-black-friday .the-banner-position .the-title-button {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .the-black-friday .the-banner-position .the-title-footer {
    position: absolute;
    width: 100%;
  }
  .the-black-friday .the-picture-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .the-black-friday .the-picture-flex > a {
    width: 24%;
  }
  .the-black-friday .the-a-number:nth-child(n+5) {
    margin-top: 40px;
  }
  .the-black-friday .the-discount-text {
    margin-left: 5px;
  }
  .the-black-friday .Christmas-top {
    margin-top: 40px;
  }
}
