@media screen and (min-width:1025px)  and (max-width:1440px) {
  .the-black-friday{
    .the-desc-item{
      width: 83% !important;
      margin: 0 auto;
    }
    .the-title-area{
      margin-top: 60px;
    }
    .the-title-area-pt{
      padding-top: 60px;
    }
    .desc-title{
      margin: 0 auto;
    }
    .the-title-h1{
      font-family: 'Noto Serif';
      font-size: 50px;
    }
    .the-text-h1{
      font-family: 'Noto Serif';
      font-size: 36px;
    }
    .the-text-Body{
      font-size: 16px;
    }
    .the-box-h1{
      font-family: 'Noto Serif';
      font-size: 28px;
    }
    .the-content-h1{
      font-family: 'Noto Serif';
      font-size: 48px;
    }
    .the-btitle-h0{
      font-size: 20px;
    }
    .the-box-body{
      font-size: 14px;
    }
    .the-text-body1{
      font-size: 16px;
    }
    .the-text-desc-mb{
      margin-bottom: 40px;
    }
    .the-pt{
      padding-top: 30px;
    }
    .the-pb{
      padding-bottom: 30px;
    }
    .desc-title{
      width: 70% !important;
      margin: 0 auto;
    }
    .the-banner-position{
      position: relative;
      .the-title-content{
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .TopBox{
        padding-top: 30px;
        padding-bottom: 45px;
      }
      .the-title-button{
        position: absolute;
        font-size: 20px;
        padding: 13px 16px;
      }
      .the-title-footer{
        bottom: 6%;
      }
    }
    .the-icon-size{
      width: 50px;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width:1441px) {
  .the-black-friday{
    .the-desc-item{
      width: 83% !important;
      margin: 0 auto;
    }
    .the-title-area{
      margin-top: 80px;
    }
    .the-title-area-pt{
      padding-top: 80px;
    }
    .desc-title{
      margin: 0 auto;
    }
    .the-title-h1{
      font-family: 'Noto Serif';
      font-size: 72px;
    }
    .the-text-h1{
      font-family: 'Noto Serif';
      font-size: 40px;
    }
    .the-text-Body{
      font-size: 18px;
    }
    .the-box-h1{
      font-family: 'Noto Serif';
      font-size: 32px;
    }
    .the-content-h1{
      font-family: 'Noto Serif';
      font-size: 70px;
    }
    .the-btitle-h0{
      font-size: 24px;
    }
    .the-box-body{
      font-size: 14px;
    }
    .the-text-body1{
      font-size: 16px;
    }
    .the-text-desc-mb{
      margin-bottom: 40px;
    }
    .the-pt{
      padding-top: 40px;
    }
    .the-pb{
      padding-bottom: 40px;
    }
    .the-banner-position{
      .the-title-content{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .TopBox{
        padding-top: 40px;
        padding-bottom: 50px;
      }
      .the-title-button{
        position: absolute;
        font-size: 20px;
        padding: 17px 28px;
      }
      .the-title-footer{
        bottom: 4%;
      }
    }
    .the-icon-size{
      width: 50px;
      margin: 0 auto;
    }
    .the-picture-flex{
      .the-fs14{
        font-family: 'Noto Serif';
        font-size: 14px;
      }
      .the-fs16{
        font-family: 'Roboto-Bold';
        font-size: 16px;
      }
      .the-fs12{
        font-size: 12px;
      }
      .the-top{
        margin-top: 8px;
      }
      .the-top2{
        margin-top: 20px;
      }
      .the-pt-button{
        padding: 18px 140px;
        background-color: #050505;
      }
    }
  }
}
@media screen and (min-width:769px) {
  .the-black-friday{
    .the-banner-position{
      position: relative;
      .the-title-content{
        position: absolute;
        width: 70%;}
      .TopBox{
        position: relative;
        background-color: rgba(255, 255, 255, 0.15);
      }
      .the-box-flex{
        display: flex;
        justify-content: space-between;
        &>div{
          width: 32%;
          padding: 1% 2%;
        }
        .the-small-box{
          border-right: 1px solid #999999;
        }
        .the-small-box:last-child{
          border-right: 0;
        }
      }
      .the-btitle-po{
        position: relative;
        z-index: 1;
        .the-btitle-ab{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          margin: 0 5px;
        }
      }
      .the-title-button{
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
      }
      .the-title-footer{
        position: absolute;
        width: 100%;
      }
    }
    .the-picture-flex{
      display: flex;
      justify-content: space-between;
      &>a{
        width: 24%;
      }
    }
  }
}